@if (!blogState().loading) {
  <div class="container">
    <a href="/blogs" mat-button
      ><mat-icon>arrow_back</mat-icon> Zurück zur Übersicht</a
    >
    <mat-card class="card" appearance="raised">
      @if (blogState().blogDetail!.headerImageUrl) {
        <img
          mat-card-image
          src="{{ blogState().blogDetail!.headerImageUrl }}"
          alt="Blog Entry image"
        />
      }
      <mat-card-header>
        <mat-card-title>{{ blogState().blogDetail!.title }}</mat-card-title>
        <mat-card-subtitle
          >{{ blogState().blogDetail!.author }} am
          {{
            blogState().blogDetail!.createdAt | date: "dd.MM.yyyy"
          }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        {{ blogState().blogDetail!.content }}
      </mat-card-content>
      <mat-card-actions>
        <button (click)="onLikeClick()" mat-button>
          <mat-icon
            [class.material-icons-outlined]="!blogState().blogDetail!.likedByMe"
            >thumb_up</mat-icon
          >
          {{ blogState().blogDetail!.likes }}
        </button>
        <button (click)="onCommentClick()" mat-button>
          <mat-icon>comment</mat-icon>
          {{ blogState().blogDetail!.comments.length }}
        </button>
      </mat-card-actions>
    </mat-card>
    <h6>Kommentare</h6>
    @if (blogState().blogDetail!.comments.length > 0) {
      @for (comment of blogState().blogDetail!.comments; track $index) {
        <div class="comment">
          <span class="commentTitle"
            >{{ comment.author }} am
            {{ comment.createdAt | date: "dd.MM.yyyy" }}</span
          >
          <span>{{ comment.content }}</span>
        </div>
        <mat-divider />
      }
    } @else {
      <div class="emptyComments">Es gibt noch keine Kommentare...</div>
    }
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
