@if (blog()) {
  <div class="container">
    <a href="/blogs" mat-button
      ><mat-icon>arrow_back</mat-icon> Zurück zur Übersicht</a
    >
    <mat-card class="card" appearance="raised">
      @if (blog()?.headerImageUrl) {
        <img
          mat-card-image
          src="{{ blog()?.headerImageUrl }}"
          alt="Blog Entry image"
        />
      }
      <mat-card-header>
        <mat-card-title>{{ blog()?.title }}</mat-card-title>
        <mat-card-subtitle
          >{{ blog()?.author }} am
          {{ blog()?.createdAt | date: "dd.MM.yyyy" }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        {{ blog()?.content }}
      </mat-card-content>
      <mat-card-actions>
        <button (click)="onLikeClick()" mat-button>
          <mat-icon [class.material-icons-outlined]="!blog()?.likedByMe"
            >thumb_up</mat-icon
          >
          {{ blog()?.likes }}
        </button>
        <button (click)="onCommentClick()" mat-button>
          <mat-icon>comment</mat-icon> {{ blog()?.comments?.length ?? 0 }}
        </button>
      </mat-card-actions>
    </mat-card>
    <h6>Kommentare</h6>
    @if ((blog()?.comments?.length ?? 0) > 0) {
      @for (comment of blog()?.comments; track $index) {
        <div class="comment">
          <span class="commentTitle"
            >{{ comment.author }} am
            {{ comment.createdAt | date: "dd.MM.yyyy" }}</span
          >
          <span>{{ comment.content }}</span>
        </div>
        <mat-divider />
      }
    } @else {
      <div class="emptyComments">Es gibt noch keine Kommentare...</div>
    }
  </div>
} @else {
  <span>Blog Eintrag existiert nicht</span>
}
