.todo-app {
  margin: 10px;
  width: 50%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-button {
  margin-left: 2em;
}

.mat-mdc-form-field {
  min-width: 50%;
}
