@if (!blogState().loading) {
  @if (blogState().blogs) {
    <div class="container">
      @for (entry of blogState().blogs?.data; track $index) {
        <app-blog-card
          class="blog-card"
          [entry]="entry"
          (selectBlog)="goToBlog($event)"
        ></app-blog-card>
      }
    </div>
  } @else {
    <div class="container">
      <div class="alert alert-warning" role="alert">
        Keine Blogeinträge gefunden.
      </div>
    </div>
  }
} @else {
  <mat-spinner></mat-spinner>
}
