.container {
  display: grid;
  width: 90dvw;
  gap: 16px; // Space between cards
  // grid-template-columns: repeat(
  //   auto-fill,
  //   minmax(16rem, 1fr)
  // ); // Responsive grid with dynamic card sizing
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-content: center; // Center the grid when there’s extra space

  .blog-card {
    height: 100%; // Ensures consistent height for all cards
    box-sizing: border-box; // Include padding and border in size calculations
  }
}
