$gap: 10px;
$columns: 4;

@mixin grid-item($columns) {
  flex: 1 1 calc((100% / #{$columns}) - #{$gap});
  box-sizing: border-box;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  p {
    @include grid-item($columns);
    margin: 0;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    border: 1px solid #ccc;
  }
}
