// .container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   flex: 1 1 28rem;
// }

.container {
  display: grid;
  gap: 16px; // Space between cards
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); // Responsive grid with dynamic card sizing
  justify-content: center; // Center the grid when there’s extra space

  .blog-card {
    height: 100%; // Ensures consistent height for all cards
    box-sizing: border-box; // Include padding and border in size calculations
  }
}
